.root {
    -fx-base: #1E1E1E;
    -fx-background: #1E1E1E;
    -fx-text-fill: #EEEEEE;
}

.button {
    -fx-background-color: #333333;
    -fx-text-fill: #EEEEEE;
}

.button:hover {
    -fx-background-color: #555555;
}

.title {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

.bottom-bar {
    -fx-padding: 4 8 4 8;
    -fx-background-color: #333333;
}

.table-view {
    -fx-control-inner-background: #1E1E1E;
    -fx-text-fill: #EEEEEE;
}
