.root-pane {
    -fx-background-color: #1E1E1E;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-font-family: "Inter", "Roboto", "SF Pro", sans-serif;
    -fx-text-fill: #EEEEEE;
}

.top-bar {
    -fx-background-color: #1E1E1E;
    -fx-padding: 12;
}

.bottom-bar {
    -fx-background-color: #333333;
    -fx-padding: 8 16 8 16;
}

.title {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-text-fill: #EEEEEE;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-text-fill: #EEEEEE;
}

.icon-button:hover {
    -fx-background-color: #2A2A2A;
}

.control-button {
    -fx-background-color: transparent;
    -fx-text-fill: #EEEEEE;
    -fx-content-display: top;
}

.control-button:hover {
    -fx-background-color: #2A2A2A;
}

.timer {
    -fx-text-fill: #CCCCCC;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}

.transcript-new {
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 26pt;
    -fx-font-weight: bold;
}

.transcript-old {
    -fx-text-fill: #888888;
    -fx-font-size: 20pt;
}
